.container{
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 20px 60px 20px;
    h2{
        @media (max-width: 698px) {
            font-size: 25px;
        }
        margin-bottom: 30px;
        font-size: 35px;
        text-align: center;
        font-weight: normal;
        span{
            font-weight: bold;
        }
    }
    .blockGrid{
        @media (max-width: 1145px) {
            grid-template-columns: repeat(2, 310px);
        }
        @media (max-width: 698px) {
            grid-template-columns: repeat(1, 310px);
        }
        @media (max-width: 374px) {
            grid-template-columns: repeat(1, 290px);
        }
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(3, 310px);
        justify-content: center;
        gap: 30px
    }
}